/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
header {
  background-color: beige;
}
.container {
  display: flex;
}
.first-row {
  display: flex;
  justify-content: space-between;
}
.social-media {
}

/* Navbar styles */
