button {
  background-color: #f9d783;
  margin: 0;
  padding: 0.5rem 2rem;
  list-style: none;
  text-decoration: none;
  border-radius: 50px;
  border: none;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid;
}

header {
  background-color: #f0efe9;
  padding-top: 1rem;
}

.crito-logo {
  display: block;
  height: 100%;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

nav {
  width: 100%;
}

.nav-section {
  display: flex;
  gap: 1rem;
}
.first-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.company-info {
  display: flex;
  gap: 10px;
}

.company-info i {
  padding-inline: 8px;
  border-left: 1px solid grey;
}
.company-info span:first-of-type i {
  padding: 0 8px 0 0;
  border-left: none;
}

.social-media {
}

.second-row {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.navbar-links {
  display: flex;
  gap: 10px;
}

.showcase {
  padding-top: 3rem;
  align-items: center;
  display: flex;
}

.content-column {
  max-width: 45rem;
}

.showcase-header {
  font-size: 5.5rem;
  font-weight: 700;
}

.button-links {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.button-links button {
}

a {
  text-decoration: none;
  color: inherit;
}

.image-column img {
  margin-right: -3rem;
}

.partner-logos {
  display: flex;
  justify-content: space-around;

  padding-top: 5rem;
}

.partner-logos img {
  object-fit: contain;
}

.features {
  padding-top: 5rem;
}

.features-section {
  background-color: #fff;
  padding-top: 5rem;
  border: 1px solid rgb(224, 224, 224);
  max-width: 1520px;
  margin: auto;
  height: 600px;
  display: flex;
}

/* Styla text-sektionen på vänster sida */
.text-section {
  margin-inline: 10rem;
  flex: 1;
}

.features-p {
  color: #f94d1c;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.features-headline {
  color: #191919;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.features-button {
  margin-top: 2rem;
  width: 460px;
  height: 56px;
}

.columns-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 43px;
}

.column {
  max-width: 250px;
  height: 220px;
  background-color: #fff;
}

.features-h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.left-section {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.left-section img {
  width: 533px;
  padding-top: 5rem;
  padding-left: 5rem;
}

.image-text {
  padding-top: 1.5rem;
  padding-inline: 4rem;
  width: 368px;
  height: 180px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgb(185, 213, 245);
  color: black;
}

.samantha-h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.right-section {
  padding-top: 5rem;
  flex: 1;
  max-width: 35rem;
}

.about-p {
  color: #f94d1c;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-headline {
  color: #191919;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.learn-more-button {
  margin-top: 4rem;
  background-color: black;
  color: white;
}
